/* Fondo general */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  height: 100vh;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Tarjeta login */
.card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  text-align: center;
}

/* Título */
.card h2 {
  margin-bottom: 25px;
  color: #1e3c72;
}

/* Inputs */
.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

/* Botón */
.card button {
  width: 100%;
  padding: 12px;
  background: #1e3c72;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover botón */
.card button:hover {
  background: #2a5298;
}

/* Dashboard */
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Caja dashboard */
.dashboard-card {
  background: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.dashboard-card h1 {
  color: #1e3c72;
  font-size: 32px;
}